<link rel="stylesheet" href="/css/home.css">

<input type="checkbox" name="" id="nav-toggle">

<div class="sidebar">

    <div class="sidebar-brand">
        <h2>SITEFODI</h2>
    </div>

    <div class="sidebar-menu">
        <ul>
            {{#ifEquals user.userType 'Paciente' }}
                {{> home-patient }}
            {{else}}
                {{#ifEquals user.userType 'Terapeuta' }}
                    {{> home-therapist }}
                {{else}}
                    {{> home-supervisor }}
                {{/ifEquals}}
            {{/ifEquals}}
        </ul>
        <ul>
            <li>
                <a href="/signout"> <span class="fas fa-sign-out-alt"></span>
                <span>Salir</span></a>
            </li>
        </ul>
    </div>

</div>

<div class="main-content">

    <header>
        <h2>
            <label for="nav-toggle">
                <span class="fas fa-bars"></span>
            </label> {{title}}
        </h2>

        {{#if search}}
            <div class="search-wrapper">
                <span class="fas fa-search"></span>
                <input type="search" name="" id="" placeholder="Busca aqui" />
            </div>
        {{/if}}

        <div class="user-wrapper">
            <img src={{avatar}} width="60px" height="60px"  alt="">
            <div>
                <h4>{{user.name}}</h4>
                <small>{{user.userType}}</small>
            </div>
        </div>
        
    </header>

    <main>
        {{#ifEquals title "Tests"}}
            {{> home-test }}
        {{/ifEquals}}

        {{#ifEquals title "Registrar Paciente"}}
            {{> registerPatient }}
        {{/ifEquals}}

        {{#ifEquals title "Ver Pacientes"}}
            {{> show-patients }}
        {{/ifEquals}}

        {{#ifEquals title "Registrar Terapeuta"}}
            {{> registerTherapist }}
        {{/ifEquals}}

        {{#ifEquals title "Ver Terapeutas"}}
            {{> show-therapists }}
        {{/ifEquals}}

        {{#ifEquals title "Perfil"}}
            {{#ifEquals user.userType 'Paciente'}}
                {{> profile-patient }}
            {{else}}
                {{> profile-therapist }}
            {{/ifEquals}}
        {{/ifEquals}}

    </main>
</div>

<script src="/js/home.js"></script>