{{#ifEquals title "Inicio"}}

    <li>
        <a href="/home/therapist" class="active" id="Inicio"> <span class="fas fa-home"></span>
        <span>Inicio</span> </a>
    </li>
    
{{else}}
    
    <li>
        <a href="/home/therapist" id="Inicio"> <span class="fas fa-home"></span>
        <span>Inicio</span> </a>
    </li>

{{/ifEquals}}

{{!-- SHOW PATIENTS OPTION --}}

{{#ifEquals title "Ver Pacientes"}}
    <li>
        <a href="/show-patients/therapist" class="active" id="Pacientes"> <span class="fas fa-user-friends"></span> 
        <span>Ver Pacientes</span> </a>
    </li>
{{else}}
    <li>
        <a href="/show-patients/therapist" id="Pacientes"> <span class="fas fa-user-friends"></span> 
        <span>Ver Pacientes</span> </a>
    </li>

{{/ifEquals}}

{{!-- REGISTER PATIENTS OPTION --}}

{{#ifEquals title "Registrar Paciente"}}
    <li>
        <a href="/register-patient/therapist" id="RegistroPaciente" class='active'> <span class="fas fa-portrait"></span>
        <span>Registrar Paciente</span> </a>
    </li>
{{else}}
    <li>
        <a href="/register-patient/therapist" id="RegistroPaciente"> <span class="fas fa-portrait"></span>
        <span>Registrar Paciente</span> </a>
    </li>
{{/ifEquals}}

{{!-- TESTS OPTION --}}

{{#ifEquals title "Pruebas"}}

    <li>
        <a href="/tests/therapist" id="Pruebas" class="active"> <span class="fas fa-cube"></span>
        <span>Pruebas</span> </a>
    </li>
   
{{else}}
    
    <li>
        <a href="/tests/therapist" id="Pruebas"> <span class="fas fa-cube"></span>
        <span>Pruebas</span> </a>
    </li>
    
{{/ifEquals}}

{{!-- PROFILE OPTION --}}

{{#ifEquals title "Perfil"}}

    <li>
        <a href="/profile/therapist" id="Perfil" class="active"> <span class="fas fa-user"></span>
        <span>Perfil</span> </a>
    </li>
    
{{else}}
    
    <li>
        <a href="/profile/therapist" id="Perfil"> <span class="fas fa-user"></span>
        <span>Perfil</span> </a>
    </li>
    
{{/ifEquals}}