<link rel="stylesheet" href="/css/profile-patient.css">

<div class="container">

    <div class="card">

        <label for="" id="title">Perfil paciente</label>
        <div class="form">

            <div class="card-header">
                <img src={{user.avatar}} alt="">
            </div>

            <div class="card-content">

                <div class="input-class">
                    <label for="">Niño/niña: </label>
                    <input type="text" name="gender" id="gender" value="{{user.user.gender}}" disabled>
                </div>

                <div class="input-class">
                    <label for="" class="fullname">Nombre completo:</label>
                    <input type="text" name="fullname" id="fullname" value="{{user.user.name}}" placeholder="" disabled>
                </div>

                <div class="input-class">
                    <label for="">Número de documento:</label>
                    <input type="text" name="ti" id="ti" value="{{user.user.ti}}" disabled>
                </div>

                <div class="input-class">
                    <label for="">Edad: </label>
                    <input type="text" name="age" id="age" value="{{user.user.age}}" disabled>
                </div>

                <div class="input-class">
                    <label for="">Correo electronico: </label>
                    <input type="email" name="email" id="email" value="{{user.user.email}}" disabled>
                </div>

                <div class="input-class">
                    <label for="">Implante izquierdo: </label>
                    <input type="text" name="leftImplant" id="leftImplant" value="{{user.user.leftImplant}}" disabled>
                </div>

                <div class="input-class">
                    <label for="">Implante derecho:</label>
                    <input type="text" name="rightImplant" id="rightImplant" value="{{user.user.rightImplant}}" disabled>
                </div>

            </div>
        </div>
    
    </div>

</div>